
.background-image {
    background-image: url('k.jpg');
    background-position: center;
    width: 1450px;
    height: 32000px;
}
h1{
    font-size: 4em;
}
h3{
    font-size: 2.5em;
}
h4{
    font-size: 2.5em;
}
h5{
    font-size: 1.5em;
}
h6{
font-size: 2.5em;
}
h7{
        font-size: 2.5em;
    }
    h8{
            font-size: 2.5em;
        }
        h9{
                font-size: 2.5em;
            }
h10{
        font-size: 2.5em;
    }
h11{
        font-size: 2em;
    }
h12{
        font-size: 2.5em;
    }
h13{
        font-size: 2.5em;
    }
h14{
        font-size: 2.5em;
    }
h15{
        font-size: 2.5em;
    }
h16{
    font-size: 2.5em;
}
h17{
    font-size: 2.5em;
}
h18{
        font-size: 2.5em;
    }
h19{
    font-size: 2.5em;
}
h20{
    font-size: 2.5em;
}
h21{
    font-size: 3em;
}
h22{
    font-size: 2.5em;
}
h23{
    font-size: 2.5em;

}
h24{
    font-size: 2.5em;
}
h25{
    font-size: 3em;
}
h26{
    font-size: 2.5em;
}
h27{
    font-size: 3em;
}
h28{
    font-size: 2.5em;
}
h29{
    font-size: 2.5em;
}
h30{
    font-size: 2.5em;
}
h31{
    font-size: 2.5em;
}
h32{
    font-size: 2.5em;
}
h33{
        font-size: 2.5em;
    }
